<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NKGroupTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7612601A1EB31A3B0078C374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761260331EB31A3B0078C374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7612603E1EB31A3B0078C374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
